# Third Party Notices

The rust-licenses-noticer uses source code from third party libraries which carry their own copyright notices and license terms. These notices are provided below.

In the event that a required notice is missing or incorrect, please notify us either by [opening an issue](https://github.com/newrelic/rust-licenses-noticer/issues/new), or by e-mailing [open-source@newrelic.com](mailto:open-source@newrelic.com).

For any licenses that require the disclosure of source code, the source code can be found at <https://github.com/newrelic/rust-licenses-noticer>.
{% for dep, licenseObj in dependencies %}
## {{ dep | split(pat=" ") | first }} <{{ dep | split(pat=" ") | last }}>

Distributed under the following license(s):

{% for key, licenses in licenseObj -%}
{% for license in licenses -%}
* {{ license }}
{% endfor -%}
{%- endfor -%}
{%- endfor -%}